<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="false" />
<!--
		<setting name="defaultExecutorType" value="BATCH" />
-->
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="true" />
<!--
		<setting name="defaultStatementTimeout" value="25000" />
-->
		<setting name="useColumnLabel" value="true" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="safeRowBoundsEnabled" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="callSettersOnNulls" value="true"/>		
	</settings>
	
	<typeAliases>
  		<package name="com.topel.api"/>
	</typeAliases>

<!--     <plugins>
        <plugin interceptor="com.corp.base.interceptor.MyBatisLogInterceptor"/>
    </plugins>  -->

</configuration>